:root {
	font-size: 16px;
	--color-light-grey: #f3f5f8;
	--color-grey: #dee0e4;
	--color-lighter-dark-grey: #e9ebee;
	--color-dark-grey: #88a0b8;
	--color-green: #85c742;
	--color-live: #f23160;
}

* {
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
button {
	cursor: pointer;
}

/* ------------------------------------------------------- */

/* BODY */

body {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-areas:
		"he he"
		"as nv"
		"as mn";
	grid-template-columns: 79px 1fr;
	grid-template-rows: 69px 60px 1fr;
}
body > header {
	grid-area: he;
}
body > aside {
	grid-area: as;
}
body > nav {
	grid-area: nv;
}
body > main {
	grid-area: mn;
}

/* ------------------------------------------------------- */

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--color-grey);
}

/* logo */
#logo {
	display: flex;
}
#logo > button {
	margin: 0 30px;
	background-color: transparent;
	border: none;
}

/* search */
#search {
	display: flex;
	width: (40vh+3rem);
	align-items: center;
}
#search > input {
	height: 35px;
	width: 40vw;
	border: 1px solid var(--color-grey);
	border-right: none;
	border-top-left-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
}
input::placeholder {
	padding-left: 15px;
	color: #000;
}
#search > button {
	height: 35px;
	width: 3rem;
	border: 1px solid var(--color-grey);
	border-left: none;
	background-color: transparent;
	border-top-right-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
}
#search > button > img {
	height: 20px;
	width: 20px;
}

/* sign in/up */
#sign > button {
	padding: 15px;
	background-color: #fff;
	border-radius: 1.5rem;
}
#sign > button:hover {
	background-color: var(--color-light-grey);
}
#in {
	border: none;
	margin-right: 15px;
}
#up {
	border: 2px solid var(--color-green);
	margin-right: 30px;
}

/* ------------------------------------------------------- */

/* ASIDE */
aside {
	overflow: auto;
	border-right: 1px solid var(--color-grey);
}
aside::-webkit-scrollbar {
	width: 0;
	height: 0;
}
aside > hr {
	margin: 0 5px;
	border: 0.1px solid var(--color-grey);
}

/* icone */
#icone {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}
.icone {
	margin: 0 5px;
	font-size: 10px;
	padding: 8px 4px;
	border-radius: 0.5rem;
	border: none;
	background-color: transparent;
}
.icone:hover {
	background-color: var(--color-light-grey);
}

/* primo piano */
.menu {
	text-align: center;
	font-size: 10px;
	font-weight: bolder;
	margin: 17px 0 15px;
}
#primo-piano > img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 0 25px 10px;
}
.live {
	border: 2px solid var(--color-live);
}

/* tema */
#tema {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}
#tema > button {
	width: 60px;
	height: 60px;
	font-size: 10px;
	padding: 5px 4px;
	margin: 0 9px;
	background-color: transparent;
	border: none;
	border-radius: 1rem;
}
#tema > button:hover {
	background-color: var(--color-light-grey);
}

/* ------------------------------------------------------- */

/* NAV */
#nav {
	display: flex;
	gap: 0.4vw;
	justify-content: center;
	margin: 0.7vw 0;
	flex-shrink: 0;
	flex-wrap: nowrap;
	overflow: auto;
}
.nav-button {
	border: none;
	display: flex;
	flex-shrink: 0;
	background-color: var(--color-light-grey);
	border-radius: 1rem;
	padding: 0.3vw 0.7vw;
	font-size: 14px;
}
.nav-button > a {
	text-decoration: none;
	color: #000;
}
.nav-button:hover {
	background-color: var(--color-dark-grey);
}
.nav-button > a:hover {
	color: #fff;
}
#live {
	background-color: var(--color-live);
}
#live:hover {
	background-color: var(--color-dark-grey);
}
#live > a {
	color: #fff;
}
.slap {
	background-color: #002cfe;
}
.ufc {
	background-color: #f00;
}
/* ------------------------------------------------------- */

/* MAIN */
main {
	overflow: auto;
}

/* main section */
#main-section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	background-color: var(--color-light-grey);
	border-bottom: 1px solid var(--color-grey);
}
#main-section > img {
	margin: 20px 0 20px 5vw;
	width: 1300px;
	height: 400px;
	border-radius: 8px;
}
#main-section > div {
	margin: 0 5vw 0 0;
}
#main-section > div > h2 {
	margin: 0.3rem 0;
	font-size: 26px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
#main-section > div > p {
	color: var(--color-dark-grey);
}
.info-video {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.info-img > img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

/* video section pt1*/
#video-section {
	background-color: var(--color-lighter-dark-grey);
	border-bottom: 1px solid var(--color-grey);
	padding: 0 5vw;
}
#top-live {
	display: grid;
	overflow: hidden;
	grid-template-columns: repeat(12, minmax(80px, 1fr));
	margin: 20px 0 45px;
	gap: 16px;
}
.img-live > img {
	border-radius: 8px;
}
.img-live > img:hover {
	filter: brightness(120%);
}
.title-video-area {
	display: flex;
	padding: 24px 0 0;
	justify-content: space-between;
}
.title-video-area > h2 {
	font-size: 22px;
	line-height: 33px;
}
.title-video-area > button {
	border: 1px solid var(--color-green);
	font-size: 14px;
	line-height: 21px;
	padding: 5px 15px;
	border-radius: 28px;
}
.title-video-area > button:hover {
	background-color: var(--color-green);
}
.info-txt > h3 {
	font-size: 14px;
}
.info-txt > p {
	font-size: 12px;
}

/* video section pt2 */
.video-row {
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(5, minmax(250px, 1fr));
	grid-row: 1fr 1fr;
	margin: 20px 0 0;
}
.img-video > h2 {
	font-size: 15px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

/* ------------------------------------------------------- */

/* FOOTER */
footer {
}
/* ------------------------------------------------------- */

/* MEDIA QUERIES */

/* TABLET */
@media screen and (max-width: 960px) {
	body {
		height: 100vh;
		grid-template-areas:
			"he"
			"nv"
			"mn";
		grid-template-columns: 100vw;
	}
	body > aside {
		display: none;
	}

	/* HEADER */
	#logo > img {
		width: 110px;
	}
	#search > input {
		width: 25vw;
	}

	/* NAV */
	#nav {
		display: flex;
		justify-content: start;
	}

	/* MAIN */

	/* main section */
	#main-section > img {
		width: 50vw;
		height: 35vw;
	}

	/* video section pt1*/
	.l {
		display: none;
	}
	#top-live {
		display: grid;
		grid-template-columns: repeat(7, minmax(80px, 1fr));
	}

	/* video section pt2 */
	.video-row {
		display: grid;
		gap: 24px;
		grid-template-columns: repeat(3, minmax(200px, 1fr));
	}
}

/* MOBILE */
@media screen and (max-width: 640px) {
	/* HEADER */
	#search > input {
		display: none;
	}
	#search > button {
		border: none;
		margin-left: auto;
	}

	/* MAIN */

	/* main section */
	#main-section {
		display: block;
	}
	#main-section > img {
		width: 95vw;
		height: 52.5vw;
		margin: 20px 2.5vw;
	}
	#main-section > div {
		margin: 0 2.5vw 20px;
	}
	.info-img > img {
		width: 35px;
		height: 35px;
	}

	/* video section pt1*/
	.m {
		display: none;
	}
	#top-live {
		display: grid;
		grid-template-columns: repeat(6, minmax(80px, 1fr));
		overflow-x: scroll;
	}

	/* video section pt2 */
	.video-row {
		display: grid;
		gap: 24px;
		grid-template-columns: repeat(2, 1fr);
	}
}
